{% extends 'shop/base.html'%}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                            <h2> Пользователь с такой почтой не найден </h2>
                            <a class="p-2 btn btn-outline-primary" href="/users/change_password">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}